<ion-view view-title="MMUbee" id="login">
  <ion-content>

  <div class="logo"></div>
  <form ng-submit="login();">
		<div class="list">

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Student ID</span>
		    <input type="text" class="sid" placeholder="Student ID" value="">
		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">CaMSys Password</span>
		    <input type="password" class="cpw" placeholder="CaMSys Password" value="">
		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">MMLS Password</span>
		    <input type="password" class="mpw" placeholder="MMLS Password" value="">
		  </label>
		</div>
			<div class="padding">
        <input class="button button-block button-positive" type="submit" value="LOG IN"/>
      </div>
	</form>

  </ion-content>
</ion-view>
