<ion-view title="CHAIN" hide-back-button="true" id="start">

  <ion-content class="padding">

  <div class="logo"></div>
  
  <div id="startPlane">
	 
	  <p class="describe">
	  	<b>Selling</b> textbooks, <b>Making</b> friends, <b>Promoting</b> events, or <b>Asking</b> classmates to sign for you in a particular subject <br />
	  	and <b>Even More...</b>

	  </p>


	   <p class="connectFB" on-tap="login();"><i class="icon ion-social-facebook"></i><span>Connect with <b>Facebook</b></span></p>

  </div>


  </ion-content>
</ion-view>